body {
display: flex;
flex-direction: column;
}

header {
flex: 0 80px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
display: flex;
flex: 1;
flex-direction: column;
}

footer {
flex: 0 30px;
} 

menu {
  display: flex;
  flex: 1;
  list-style: none;
  flex-direction: row;
  justify-content: left;
}

menu li {
  padding: 0 0.3em;
}

