body {
display: flex;
flex-direction: column;
}

header {
flex: 0 80px;
background-color: rgb(172, 4, 4);
h1 {
  color: black;
  padding: 0.5em;
}
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
display: flex;
flex: 1;
flex-direction: column;
}

footer {
flex: 0 30px;
background-color: rgb(172, 4, 4);
} 

menu {
  display: flex;
  flex: 1;
  list-style: none;
  flex-direction: row;
  justify-content: left;
}

menu li {
  padding: 0 0.3em;
}

.stat-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  list-style: none;
}

.stat-bar li {
  padding: 0 0.3em;
}

